/* Responsive typography */
@media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 4.5rem;
      --h1-font-size: 3rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
    .nav__menu {
      position: fixed;
      top: -100%;
      left: 0;
      background-color: hsla(0, 0%, 0%, .75);
      width: 100%;
      padding-block: 1.8rem 5rem;
      text-align: center;
      backdrop-filter: blur(8px);
      transition: top .4s;
    }
  }  

  /* Animate scroll icon */
@keyframes scroll-down {
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(.6rem);
    }
  }